/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#label_scored {
    -fx-font-weight: bold;
    -fx-text-fill: #009933;
}

#label_unscored {
    -fx-font-weight: bold;
    -fx-text-fill: #CC0000;
}